<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">MEAN Auth App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" >
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/']">Home <span></span></a>
        </li>
        </ul>
      
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']"  [routerLink]="['/dashboard']" >Dashboard </a>
        </li>      
        <li class="nav-item">
            <a class="nav-link"  [routerLinkActive]="['active']" [routerLink]="['/profile']">profile </a>
          </li>  
          <li class="nav-item">
              <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/login']" >login</a>
            </li>   
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']"  [routerLink]="['/register']">Register</a>
              </li>                             
      </ul>
    </div>
  </nav>  `
  <!--nav bar end here-->
  <div class="content-wrapper">
      <div class="container-fluid">
        <router-outlet></router-outlet>
        <flash-messages></flash-messages>
      </div>
 </div>
